- if user_signed_in?
  %li.dash.home
    %a{:href => root_path}
      %span Dashboard
  %li.cal.calendar
    %a{:href => "#"}
      %span Calendar
  %li.forms.services
    %a{:href => services_path}
      %span Worship Logs
  %li.contacts.volunteers
    %a{:href => volunteers_path}
      %span Volunteers
  %li.typo.public
    %a{:href => public_contact_path}
      %span Support

- else
  %li.help
    %a{:href => public_help_path}
      %span Help
  %li.typo
    %a{:href => public_contact_path}
      %span Support