- if user_signed_in?
  %li.dash
    %a.active{:href => root_path}
      %span Dashboard
  %li.cal
    %a{:href => "#"}
      %span Calendar
  %li.forms
    %a{:href => services_path}
      %span Worship Logs
  %li.contacts
    %a{:href => volunteers_path}
      %span Volunteers
  %li.typo
    %a{:href => public_contact_path}
      %span Support

- else
  %li.help
    %a{:href => public_help_path}
      %span Help
  %li.typo
    %a{:href => public_contact_path}
      %span Contact Admin