- if user_signed_in?
  %li.iAdd
    %a{:href => new_service_path}
      %span Add Log

  %li.iUser
    %a{:href => new_volunteer_path}
      %span Add Volunteer

  %li.iSearch
    %a{:href => '#'}
      %span Search Logs