%p Welcome #{@resource.first_name}!

%p Thanks for registering an account with Worship Log. Please follow the link below to confirm your account and automatically log in:

%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)