- @content_for_title = 'Help'

.widget.first
  .head
    %h5.iUser #{page_title}
  .body
    %h4.aligncenter.red.pt10 Need help? A comprehensive FAQ is coming soon, bu until then, feel free to contact support at: <a href="mailto:webmaster@worshiplog.com">webmaster@worshiplog.com</a>